.gitignore
.idea/
/node_modules
/dist
src/public/img/water_pipe_og.png

src/public/img/water_drop_og.png

src/public/img/humid-icon.png.tmp$$
/src/public/img/weather/

Interface.sketch

npm-debug.log
/src/js/secret/
src/client.min.js

/static/*.js
/static/*.js.map