@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,500);

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('./assets/font/meteocons/meteocons-webfont.eot');
    src: url('./assets/font/meteocons/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
    url('./assets/font/meteocons/meteocons-webfont.woff') format('woff'),
    url('./assets/font/meteocons/meteocons-webfont.ttf') format('truetype'),
    url('./assets/font/meteocons/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html, body, #app {
    width: 100%;
    height: 100%;
    color: #eee;
    font-weight: 300;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: #303436;
}

a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none;
}

.widget-btn:not(:last-child) {
    margin-right: 45px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5) url('./assets/img/spinner.svg') center/50px no-repeat;
    z-index: 4;
    pointer-events: auto;
}

.loaded {
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
}

.meteocon:before {
    font-family: 'MeteoconsRegular', sans-serif;
    content: attr(data-icon);
}

.location-refresh {
    background: url('./assets/img/refresh.png') top left/100% no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

#helpmenu li:not(:first-child) {
    margin-top: 15px;
}

.nav-help__back-button:active {
    background-color: #475760;
}

.help__paragraph {
    margin-bottom: 10px;
}